[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pytesseract = "*"
imutils = "*"
scikit-image = "*"
matplotlib = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
